.menu-items {
    width: 1360px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        width: 800px;
        font-weight: 600;
        font-size: 60px;
        line-height: 125%;
        text-align: center;
        color: #403f3d;
        margin-bottom: 40px;
        span {
            font-style: italic;
            color: #b0907a;
        }
    }
}

.tabs {
    display: flex;
    gap: 16px;

    &__item {
        border: 1px solid #c1b6ad;
        border-radius: 100px;
        padding: 0 10px;
        height: 46px;
        display: flex;
        align-items: center;
        color: #403f3d;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &-img {
            border-radius: 100px;
            width: 30px;
            height: 30px;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #c1b6ad;
            transition: all 0.3s ease-in-out;
        }
        &-text {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
        }

        &:hover {
            background: #665f55;
            color: #e1d4c9;
            .tabs__item-img {
                background: #e1d4c9;
            }
        }
    }

    &__item_select {
        background: #665f55;
        color: #e1d4c9;
        .tabs__item-img {
            background: #e1d4c9;
        }
    }
}

.menu-cards {
    width: 1360px;
    margin-top: 40px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.menu-card {
    border: 1px solid #c1b6ad;
    border-radius: 40px;
    width: 308px;
    height: 506px;

    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__img {
        border-radius: 40px;
        width: 310px;
        height: 310px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 110%;
            height: 110%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__title {
        margin-top: 20px;
        margin-left: 20px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        color: #403f3d;
    }
    &__text {
        width: 88%;
        height: 72px;
        margin-top: 12px;
        margin-left: 20px;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #403f3d;
    }
    &__price {
        margin-top: 12px;
        margin-left: 20px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        color: #403f3d;
    }
}
