<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header__menu">Menu</div>
    </header>

    <main>
        Main
    </main>

    <footer>
        Fotter
    </footer>
</div>


    <script src="" th:src="@{/js/home.js}"></script>
</body>
</html>